<div class="about">
  <div class="about__container">
    <h1 class="about__title">О нас</h1>

    <section class="about__section">
      <h2 class="about__subtitle">Веб-приложение “Классический кроссворд“</h2>
      <p class="about__text">Разработано студентами Самарского университета в 2024 году.</p>
    </section>

    <section class="about__section">
      <h2 class="about__subtitle">Авторы:</h2>
      <div class="about__author">
        <h3 class="about__author-name">Матвеев Виктор Дмитриевич</h3>
        <p class="about__author-details">Студент группы 6401-020302D</p>
      </div>
      <div class="about__author">
        <h3 class="about__author-name">Романова Анастасия Алексеевна</h3>
        <p class="about__author-details">Студент группы 6401-020302D</p>
      </div>
      <div class="about__author">
        <h3 class="about__author-name">Титов Артем Сергеевич</h3>
        <p class="about__author-details">Студент группы 6401-020302D</p>
      </div>
    </section>
  </div>
</div>
