.header-container {
  background-color: white;
  padding: 50px 50px;
  display: flex;
  justify-content: center;
}

.grid {
  background-color: white;
  height: auto;
  max-height: 90vh;
  display: flex;
  justify-content: center;
}

.grid-container {
  gap: 10px;
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  margin: 0 20px;
  border-color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-row {
  display: flex;
}

.grid-cell {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.grid-cell.selected {
  background-color: #ddd;
}

.error-message {
  color: red;
}

.selected-cell {
  background-color: lightgray; 
}

.save-button {
  width: 150px;
  height: 50px;
}

.button-container {
  background-color: white;
  padding: 50px 50px;
  display: flex;
  justify-content: center;
}

.select {
  width: 250px;
  height: 40px;
}