<div class="system">
  <div class="system__container">
    <h1 class="system__title">О системе</h1>
    <p class="system__text">Веб-приложение “Классический кроссворд“ предоставляет большое количество возможностей для работы с кроссвордом.</p>

    <section class="system__section">
      <h1>Автоматизированная система составления и решения классических кроссвордов</h1>

        <ul>
            <li><a href="#introduction">Введение</a></li>
            <li>
                <a href="#Working_with_the_system">Работа с системой</a>
                <ul>
                    <li>
                        <a href="#Working_with_the_system_in_the_administrator_mode">Работа с системой в режиме администратора</a>
                        <ul>
                            <li>
                                <a href="#Log_in_to_the_system">Вход в систему (авторизация)</a>
                            </li>
                            <li>
                                <a href="#View_all_the_crosswords">Просмотр всех кроссвордов</a>
                            </li>
                            <li>
                                <a href="#Creating_a_new_crossword">Создание нового кроссворда</a>
                                <ul>
                                    <li>
                                        <a href="#Automatic_crossword_completion">Автоматическое заполнения кроссворда</a>
                                    </li>
                                    <li>
                                        <a href="#Manually_completing_a_crossword">Ручное заполнение кроссворда</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#Changing_the_crossword">Изменение кроссворда</a>
                            </li>
                            <li>
                                <a href="#View_all_dictionaries_of_concepts">Просмотр всех словарей понятий</a>
                            </li>
                            <li>
                                <a href="#Adding_a_new_vocabulary_of_concepts">Добавление нового словаря понятий</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#Working_with_the_system_in_player_mode">Работа с системой в режиме игрока</a>
                        <ul>
                            <li>
                                <a href="#Login_for_the_player">Вход в систему (авторизация)</a>
                            </li>
                            <li>
                                <a href="#View_all_the_crosswords_for_player">Просмотр всех кроссвордов</a>
                            </li>
                            <li>
                                <a href="#Viewing_crosswords_in_the_player's_library">Просмотр кроссвордов в библиотеки игрока</a>
                            </li>
                            <li>
                                <a href="#Solving_the_crossword">Решение кроссворда</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- Контент по разделам -->
        <div id="introduction" class="content-section">
            <h2>Введение</h2>
            <p>
                Система создана для  создания и решения классических кроссвордов. 
                Это веб-приложение, рассчитанное на две основные
                группы пользователей: администраторов и игроков.
            </p>
            <p>
                Администратор имеет доступ к созданию и редектированию кроссвордов,
                выборе режима заполнения кроссворда (автоматически или вручную),
                а также возможность добавить или удалить словарь понятий. Игрок
                может просматривать и выбирать кроссворд для решения из общей
                библиотеки, а также имеет возможность добавить в свою. Игрок
                также может разгадывать кроссворды с организацией системы
                подсказок.
            </p>
            <p>
                Для корректной работы системы требуются определенные программные
                и аппаратные средства. На сервере необходима ЭВМ под управлением
                Windows Server 2016 или выше с установленной платформой Docker
                Desktop версии 3.3.0 и выше. Для клиентской части требуется ОС
                Windows 8, macOS 10.15 или Linux с графической средой, а также
                один из современных браузеров (Chrome 90+, Firefox 88+, Edge
                91+, Safari 14+).
            </p>
        </div>

        <div id="Working_with_the_system" class="content-section">
            <h2>Работа с системой</h2>
        </div>

        <div id="Working_with_the_system_in_the_administrator_mode" class="content-section">
            <h3>Работа с системой в режиме администратора</h3>
            <p>
                На каждой странице администратора в верхней части экрана расположены
                кнопки "Словари", "Библиотека" и "Выйти", которые открывает страницу
                просмотра всех словарей, страницу со всеми кроссвордами из БД и 
                производит выход из системы соответственно.
            </p>
        </div>

        <div id="Log_in_to_the_system" class="content-section">
            <h4>Вход в систему (авторизация)</h4>
            <p>
                Чтобы получить доступ к интерфейсу администратора необходимо
                перейти по адресу http://127.0.0.1/admin/, заполнить поля для
                авторизации и нажать кнопку «Вход». После успешной авторизации
                откроется главная страница администратора.
            </p>
            <img src="/img/AboutSystem/1.jpg" alt="Вход в систему" />
        </div>

        <div id="View_all_the_crosswords" class="content-section">
            <h4>Просмотр всех кроссвордов</h4>
            <p>
                На главной странице показаны все кроссворды из БД, разбитые
                на страницы по 12 кроссвордов на каждой. Каждый
                кроссворд можно удалить или изменить. Также присутствует
                кнопка "Создать кроссворд" для создания нового кроссворда.
            </p>
            <img src="/img/AboutSystem/2.jpg" alt="Просмотр всех кроссвордов" />
        </div>

        <div id="Creating_a_new_crossword" class="content-section">
            <h4>Создание нового кроссворда</h4>
            <p>
                Чтобы создать новый кроссворд нужно ввести начальные его
                параметры, такие как название, ширина и высота сетки, 
                количество подсказок и выбрать используемый словарь
                понятий и способ заполнения кроссворда (автоматически 
                или вручную). После этого нужно нажать на кнопку "Создать",
                при этом система проверяет корректность введенных параметров
                и если все корректно, то создает кроссворд.
            </p>
            <img src="/img/AboutSystem/3.jpg" alt="Создание нового кроссворда" />
        </div>

        <div id="Automatic_crossword_completion" class="content-section">
            <h4>Автоматическое заполнение кроссворда</h4>
            <p>
                Если способ заполнения кроссворда был выбран как автоматический,
                то система сама заполнит все слова в кроссворд на свое усмотрение.
                После этого система покажет всплывающее сообщение об успешном создании
                кроссворда и отобразить главную страницу администратора.
            </p>
            <img src="/img/AboutSystem/4.jpg" alt="Автоматическое заполнение кроссворда" />
        </div>

        <div id="Manually_completing_a_crossword" class="content-section">
            <h4>Ручное заполнение кроссворда</h4>
            <p>
                Если способ заполнения кроссворда был выбран как вручную, то
                система отобразить страницу ручного заполнения кроссворда, на
                которой администратору нужно выделить область на сетке, система
                построит для этого маску и выведет все слова, удолетворяющие маски
                в левой части страницы в выпадающем списке. Администратору нужно
                выбрать слово из этого выпадающего списка, после этого система
                запомнит это слово и отобразить его на сетке. Как только все
                слова введены, администратору нужно нажать на кнопку "Завершить",
                тогда система проверит корректность введенных слов. После этого
                система покажет всплывающее сообщение об успешном создании
                кроссворда и отобразить главную страницу администратора.
            </p>
            <img src="/img/AboutSystem/5.jpg" alt="Ручное заполнение кроссворда" />
        </div>

        <div id="Changing_the_crossword" class="content-section">
            <h4>Изменение кроссворда</h4>
            <p>
                Если администратор выбрал изменить уже существующий кроссворд, то
                система отобразить страницу ручного заполнения кроссворда. Администратору
                также нужно будет проделать все шаги как в пункте "Ручное заполнение кроссворда".
            </p>
        </div>

        <div id="View_all_dictionaries_of_concepts" class="content-section">
            <h4>Просмотр всех словарей понятий</h4>
            <p>
                На странице со словарями показаны все словари, загруженные в систему и
                разбитые на страницы.Администратор может удалить словарь, нажав соотвествующую
                кнопку рядом с выбранным словарем. Он также может добавить новый словарь понятий,
                нажав на кнопку "Добавить словарь".
            </p>
            <img src="/img/AboutSystem/6.jpg" alt="Просмотр всех словарей понятий" />
        </div>

        <div id="Adding_a_new_vocabulary_of_concepts" class="content-section">
            <h4>Добавление нового словаря понятий</h4>
            <p>
                Если администратор нажал на кнопку "Добавить словарь", то система откроет
                страницу добавления нового словаря понятий, на которой предложит
                администратору выбрать файл на ПК. Далее администратору нужно нажать
                на кнопку "Подтвердить". Система проверит корректность файла, и в случае
                успеха отобразить страницу со всеми словарями понятий.
            </p>
            <img src="/img/AboutSystem/7.jpg" alt="Добавление нового словаря понятий" />
        </div>

        <div id="Working_with_the_system_in_player_mode" class="content-section">
            <h3>Работа с системой в режиме игрока</h3>
            <p>
                На каждой странице игрока в верхней части экрана расположены
                кнопки "Библиотека", "Мои кроссворды" и "Выйти", которые открывает страницу
                просмотра всех кроссвордов из БД, страницу с кроссвордами пользователя и 
                производит выход из системы соответственно.
            </p>
        </div>

        <div id="Login_for_the_player" class="content-section">
            <h4>Вход в систему (авторизация)</h4>
            <p>
                Чтобы получить доступ к интерфейсу игрока необходимо пройти
                регистрацию или авторизацию, заполнить поля для и нажать кнопку «Вход». 
                После успешной авторизации отроется главная страница игрока.
            </p>
            <img src="/img/AboutSystem/7.jpg" alt="Вход в систему" />
        </div>

        <div id="View_all_the_crosswords_for_player" class="content-section">
            <h4>Просмотр всех кроссвордов</h4>
            <p>
                На главной странице показаны все кроссворды из БД, разбитые
                на страницы по 12 кроссвордов на каждой. Каждый
                кроссворд можно добавить в библиотеку игрока, для чего
                нужно нажать на соотвествующую кнопку рядом с выбранным
                кроссвордом.
            </p>
            <img src="/img/AboutSystem/8.jpg" alt="Просмотр всех кроссвордов" />
        </div>

        <div id="Viewing_crosswords_in_the_player's_library" class="content-section">
            <h4>Просмотр кроссвордов в библиотеке игрока</h4>
            <p>
                На странице с кроссвордами игрока показаны все кроссворды игрока,
                разбитые на страницы по 12 кроссвордов на каждой. Каждый
                кроссворд можно удалить из библиотеки игрока, для чего
                нужно нажать на соотвествующую кнопку рядом с выбранным
                кроссвордом. Также рядом с каждым кроссвордом написан процент
                решения этого кроссворда игроком.
            </p>
            <img src="/img/AboutSystem/9.jpg" alt="Просмотр кроссвордов в библиотеке игрока" />
        </div>

        <div id="Solving_the_crossword" class="content-section">
            <h4>Решение кроссворда</h4>
            <p>
                Если для решнеия был выбран кроссворд, то система отобразить 
                страницу решения этого кроссворда, на которой игроку нужно выделить 
                область на сетке. После этого система выделит определение к данному 
                слову на левой части страницы, после чего игроку нужно ввести слово 
                на сетку. Если слово было введено верно, то система зачеркнет 
                определение этого слова на левой части страницы. Таким образом
                игроку нужно полностью решить кроссворд
            </p>
            <img src="/img/AboutSystem/10.jpg" alt="Решение кроссворда" />
        </div>
    </section>
  </div>
</div>
<script>
  function showSection(sectionId) {
      // Скрываем все секции
      let sections = document.querySelectorAll(".content-section");
      sections.forEach((section) => {
          section.classList.remove("active");
      });

      // Показываем только выбранную секцию
      const selectedSection = document.getElementById(sectionId);
      if (selectedSection) {
          selectedSection.classList.add("active");
      }
  }
</script>
    
