<div class="system">
  <div class="system__container">
    <h1 class="system__title">О системе</h1>
    <p class="system__text">Веб-приложение “Классический кроссворд“ предоставляет большое количество возможностей для работы с кроссвордом.</p>

    <section class="system__section">
      <h2 class="system__subtitle">Возможности администратора:</h2>
      <ul class="system__list">
        <li class="system__list-item">Создание, редактирование и опубликование кроссвордов</li>
        <li class="system__list-item">Подключение сторонних словарей понятий</li>
        <li class="system__list-item">Работа с базой данных системы</li>
      </ul>
    </section>

    <section class="system__section">
      <h2 class="system__subtitle">Возможности игрока:</h2>
      <ul class="system__list">
        <li class="system__list-item">Просмотр всех опубликованных кроссвордов</li>
        <li class="system__list-item">Добавление кроссворда в свою библиотеку</li>
        <li class="system__list-item">Решение любого кроссворда с системой подсказок</li>
      </ul>
    </section>
  </div>
</div>
