.completion-message {
  color: green;
  font-weight: bold;
  margin-left: 10px;
}

/* Общая обёртка сетки */
.grid {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Контейнер, где лежит сама таблица */
.grid-container {
  margin-right: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-row {
  display: flex;
}

.grid-cell {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  text-align: center;
  vertical-align: middle; /* Для выравнивания */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Инпут для вводимых букв */
.cell-input {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 18px;
  border: none;
  background-color: #ffffff;
}

/* Серая "заблокированная" клетка (пустая в grid) */
.blocked-cell {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
}

/* Если инпут задизейблен, пусть фон будет серый и цвет буквы тусклый */
.cell-input:disabled {
  background-color: #e0e0e0;
  color: #aaa;
}

/* Зачёркнутое слово, если оно решено */
.solved {
  text-decoration: line-through;
  color: #888;
}

/* Кнопка сохранения */
.save-button {
  padding: 10px 20px;
  width: 150px;
  font-size: 16px;
}

/* Центровка кнопки */
.container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
